[submodule "content/en/report/fa20-523-312"]
	path = content/en/report/fa20-523-312
	url = https://github.com/cybertraining-dsc/fa20-523-312.git
[submodule "content/en/report/fa20-523-326"]
	path = content/en/report/fa20-523-326
	url = https://github.com/cybertraining-dsc/fa20-523-326.git
[submodule "content/en/report/fa20-523-301"]
	path = content/en/report/fa20-523-301
	url = https://github.com/cybertraining-dsc/fa20-523-301.git
[submodule "content/en/report/fa20-523-316"]
	path = content/en/report/fa20-523-316
	url = git@github.com:cybertraining-dsc/fa20-523-316.git
[submodule "content/en/report/fa20-523-348"]
	path = content/en/report/fa20-523-348
	url = git@github.com:cybertraining-dsc/fa20-523-348.git
[submodule "content/en/report/fa20-523-342"]
	path = content/en/report/fa20-523-342
	url = git@github.com:cybertraining-dsc/fa20-523-342.git
[submodule "content/en/report/fa20-523-307"]
	path = content/en/report/fa20-523-307
	url = git@github.com:cybertraining-dsc/fa20-523-307.git
[submodule "content/en/report/fa20-523-305"]
	path = content/en/report/fa20-523-305
	url = git@github.com:cybertraining-dsc/fa20-523-305.git
[submodule "content/en/report/fa20-523-309"]
	path = content/en/report/fa20-523-309
	url = git@github.com:cybertraining-dsc/fa20-523-309.git
[submodule "content/en/report/fa20-523-333"]
	path = content/en/report/fa20-523-333
	url = git@github.com:cybertraining-dsc/fa20-523-333.git
[submodule "content/en/report/fa20-523-314"]
	path = content/en/report/fa20-523-314
	url = git@github.com:cybertraining-dsc/fa20-523-314.git
[submodule "content/en/report/fa20-523-329"]
	path = content/en/report/fa20-523-329
	url = git@github.com:cybertraining-dsc/fa20-523-329.git
[submodule "content/en/report/fa20-523-337"]
	path = content/en/report/fa20-523-337
	url = git@github.com:cybertraining-dsc/fa20-523-337.git
[submodule "content/en/report/fa20-523-317"]
	path = content/en/report/fa20-523-317
	url = git@github.com:cybertraining-dsc/fa20-523-317.git
[submodule "content/en/report/fa20-523-304"]
	path = content/en/report/fa20-523-304
	url = git@github.com:cybertraining-dsc/fa20-523-304.git
[submodule "content/en/report/fa20-523-308"]
	path = content/en/report/fa20-523-308
	url = git@github.com:cybertraining-dsc/fa20-523-308.git
[submodule "content/en/report/fa20-523-343"]
	path = content/en/report/fa20-523-343
	url = git@github.com:cybertraining-dsc/fa20-523-343.git
[submodule "content/en/report/fa20-523-313"]
	path = content/en/report/fa20-523-313
	url = git@github.com:cybertraining-dsc/fa20-523-313.git
[submodule "content/en/report/cloudmesh-openapi"]
	path = content/en/report/cloudmesh-openapi
	url = git@github.com:cloudmesh/cloudmesh-openapi.git
[submodule "content/en/report/fa20-523-331"]
	path = content/en/report/fa20-523-331
	url = git@github.com:cybertraining-dsc/fa20-523-331.git
[submodule "content/en/report/fa20-523-328"]
	path = content/en/report/fa20-523-328
	url = git@github.com:cybertraining-dsc/fa20-523-328.git
[submodule "content/en/report/fa20-523-349"]
	path = content/en/report/fa20-523-349
	url = git@github.com:cybertraining-dsc/fa20-523-349.git
[submodule "content/en/report/fa20-523-332"]
	path = content/en/report/fa20-523-332
	url = git@github.com:cybertraining-dsc/fa20-523-332.git
[submodule "content/en/report/fa20-523-319"]
	path = content/en/report/fa20-523-319
	url = git@github.com:cybertraining-dsc/fa20-523-319.git
[submodule "content/en/report/fa20-523-327"]
	path = content/en/report/fa20-523-327
	url = git@github.com:cybertraining-dsc/fa20-523-327.git
[submodule "content/en/report/fa20-523-339"]
	path = content/en/report/fa20-523-339
	url = git@github.com:cybertraining-dsc/fa20-523-339.git
[submodule "content/en/report/fa20-523-330"]
	path = content/en/report/fa20-523-330
	url = git@github.com:cybertraining-dsc/fa20-523-330.git
[submodule "content/en/report/fa20-523-336"]
	path = content/en/report/fa20-523-336
	url = git@github.com:cybertraining-dsc/fa20-523-336.git
[submodule "content/en/report/fa20-523-341"]
	path = content/en/report/fa20-523-341
	url = git@github.com:cybertraining-dsc/fa20-523-341.git
