*#
*~
.#*
.DS_Store
docs/report/*/*.csv
docs/report/*/*.ipynb
docs/report/*/LICENSE
docs/report/*/Plan/
docs/report/*/README.yml
docs/report/*/assignments
docs/report/*/backup/
docs/report/*/paper/*.bib
docs/report/*/paper/*.cls
docs/report/*/paper/*.csl
docs/report/*/paper/*.latex
docs/report/*/paper/*.tex
docs/report/*/paper/*.txt
docs/report/*/paper/*.yaml
docs/report/*/paper/bin
docs/report/*/project/*.csv
docs/report/*/project/*.ipynb
docs/report/*/project/*.py
docs/report/*/project/backup_project/
docs/report/*/project/breakdown/
docs/report/*/project/code/
docs/report/*/project/colabnotebook/
docs/report/*/project/cookies.txt
docs/report/*/project/data*
docs/report/*/project/dataset/
docs/report/*/project/figure
docs/report/*/project/figures
docs/report/*/project/images/*.PNG
docs/report/*/project/images/AllImages 
docs/report/*/project/misc_files
docs/report/*/project/old_info/
docs/report/*/project/plan
docs/report/*/project/project_*
docs/report/*/report/*.csv
docs/report/*/report/images/*.PNG
docs/report/*/report/plan
docs/report/cloudmesh-openapi/images
docs/report/cloudmesh-openapi/paper/Makefile
docs/report/cloudmesh-openapi/paper/bib/
docs/report/cloudmesh-openapi/paper/format/
docs/report/cloudmesh-openapi/paper/images/
docs/report/cloudmesh-openapi/paper/results/
docs/report/cloudmesh-openapi/paper/vm_script_output/
docs/report/cloudmesh-openapi/readme-adam
docs/report/cloudmesh-openapi/readme-eigenfaces-test/
docs/report/cloudmesh-openapi/readme-security/
docs/report/cloudmesh-openapi/tests
docs/report/fa20-523-309/donotuse-markdown-check.py
docs/report/fa20-523-313/assignment6
docs/report/fa20-523-327/project/images/figure?
docs/report/fa20-523-333/report/report.pdf
docs/report/fa20-523-333/untitled/
docs/report/fa20-523-349/project/LSTM
docs/report/fa20-523-349/project/RankNet
docs/report/fa20-523-350/deprecated/
docs/report/fa20-523-350/project/broken-report/
node_modules
package-lock.json