+++
title = "Cybertraining"
linkTitle = "Cybertraining"

+++


{{< blocks/cover title="Cybertraining by the Digital Science Center" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/courses" >}}">
	  Courses <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/modules" >}}">
	  Modules <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
	  Contributing <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://cybertraining-dsc.github.io">
	  Home <i class="fas fa-home"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/cybertraining-dsc/cybertraining-dsc.github.io">
	  Github <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><b style="font-size:30px;color:yellow">Teach yourself cyberinfrastructure and deep learning with our material!</b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Cybertraining by the Digital Science Center introduces you to a variety of topics related to cyberinfrastucture and deep learning.

{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa-graduation-cap" title="Get educated with courses!" url="https://cybertraining-dsc.github.io/courses/" %}}    
The cybertraining by DSC provides state of the art learning
material in cyberinfrastructure, cloud and appliactions ao AI and
DL. Please follow this Web site for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-check-circle" title="Select your own modules!" url="https://cybertraining-dsc.github.io/modules/" %}}
The cybertraining by DSC allows you to create your own content that you can select and create your own eductational pathway..
{{% /blocks/feature %}}


    
{{% blocks/feature icon="fab fa-github" title="Contributions are welcome!" url="https://github.com/cybertraining-dsc/cybertraining-dsc.github.io" %}}

We do a [Pull Request](https://github.com/cybertraining-dsc/cybertraining-dsc.github.io/pulls)
contributions workflow on **GitHub**. New users are always welcome!
      
{{% /blocks/feature %}}


<!--
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}
-->

{{< /blocks/section >}}




{{< blocks/section >}}

<div class="col-12">
<p class="text-center">
Sponsord by
NSF <img src="https://github.com/cybertraining-dsc/cybertraining-dsc.github.io/raw/master/content/en/NSF.png", height=32> 
and Indiana University <img src="https://github.com/cybertraining-dsc/cybertraining-dsc.github.io/raw/master/content/en/iu.png" height=32> 
</p>
</div>


{{< /blocks/section >}}

  
