{{ $icon := .Get "icon" | default "fa-edit" }} [<i class="{{ if not (or  (hasPrefix $icon "fas ")  (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }}"></i>](https://github.com/{{.Get "org"}}/{{ .Get "repo"}}/blob/main/{{.Get "doc"}}):
[{{ .Get "title"}}]({{ .Get "link"}}) {{.Get "author"}}

    * <!-- --> ![GitHub Repo stars](https://img.shields.io/github/stars/{{ .Get "org"}}/{{ .Get "repo"}}?style=social)
<!-- --> [![Check Report](https://github.com/{{ .Get "org"}}/{{ .Get "repo"}}/workflows/Check%20Report/badge.svg)](https://github.com/{{ .Get "org"}}/{{ .Get "repo"}}/actions) {{ $icon := .Get "icon" | default "fa-edit" }}
<!-- --> [![Issues](https://img.shields.io/github/issues-raw/{{ .Get "org"}}/{{ .Get "repo"}})](https://GitHub.com/{{ .Get "org"}}/{{ .Get "repo"}}/issues/)
<!-- --> ![GitHub code size in bytes](https://img.shields.io/github/languages/code-size/{{ .Get "org"}}/{{ .Get "repo"}})
<!-- --> ![GitHub repo size](https://img.shields.io/github/repo-size/{{ .Get "org"}}/{{ .Get "repo"}})
<!-- [![Status](https://github.com/{{ .Get "org"}}/{{ .Get "repo"}}/workflows/Status/badge.svg)](https://github.com/{{ .Get "org"}}/{{ .Get "repo"}}/actions) -->
